.react-treeify-wrapper {
  width: 100%;
  display: block;
  float: left;

  .branch {
    width: 100%;
    display: block;
    float: left;
    box-sizing: border-box;
    padding-left: 15px;

    a.expander {
      color: gray;
      text-decoration: none;
    }

    .branches {
      width: 100%;
      display: block;
      float: left;
      box-sizing: border-box;
      // border-left: 1px solid gray;
    }

    .peak {
      width: 100%;
      display: block;
      float: left;
    }

    span.prop {
      color: purple;
    }

    span.leaf {
      color: gray;

      &.boolean-leaf,
      &.infinity-leaf,
      &.nan-leaf,
      &.number-leaf,
      &.function-leaf {
        color: blue;
      }

      &.null-leaf,
      &.undefined-leaf {
        color: gray;
      }

      &.string-leaf,
      &.date-leaf {
        color: red;
      }
    }


    // for debugging purposes
    // padding-right: 5px;
    // border: 1px dashed black;

    // margin-top: 5px;
    // margin-bottom: 5px;
  }
}